.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-actions {
    margin-bottom: 1rem;
}

.card-button {
    text-transform: none;
    font-weight: 600;
}

/* .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc; 
    border-radius: 8px; 
}

.product-image {
    object-fit: cover;
    height: 140px; 
    border-bottom: 1px solid #ccc; 
}

.product-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.product-category {
    color: #555;
    margin-bottom: 0.5rem;
}

.product-price {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.product-rating {
    margin-bottom: 0.5rem;
}

.add-to-cart-btn {
    text-transform: none;
    font-weight: 600;
}

.card-actions {
    margin-top: auto; 
} */